<footer id="phone-footer">
    <hr>
    <div id="home-footer" class="container">
        <a href="">Contact</a>
        <a href="">Tarifs</a>
        <a href="">Admin</a>
    </div>
    <div id="copy-footer">&copy; La Maringotte - 2022</div>
</footer>