<header>
    <nav id="navigation" class="navbar">
        <a href="{{path('app_main')}}">
            <img src="{{asset('img/logo-tr.png')}}" alt="Logo de la Maringotte">
        </a>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#SideNav" aria-controls="SideNav">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="SideNav" aria-labelledby="SideNav">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="SideNav">La Maringotte</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-group">
                    <li class="list-group-item"><a  href="{{path('app_main')}}">Accueil</a></li>
                    <li class="list-group-item"><a href="{{path('app_gite')}}">Nos gîtes</a></li>
                </ul>
                </div>
            </div>
        </div>
    </nav>
</header>