<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="La Maringotte de Brocéliande vous propose ses gîtes dans un endroit verdoyant et apaisant.">
        <meta name="keywords" content="gite, brocéliande, grand, morbihan, tourisme, concoret"/>
        <!-- Open Graph -->
        <meta property="og:site_name" content="La Maringotte de Brocéliande">
        <meta property="og:description" content="La Maringotte de Brocéliande vous propose ses gîtes dans un endroit verdoyant et apaisant.">
        <meta property="og:url" content="https://www.grand-gite-broceliande.fr">
        <meta property="og:image" content="{{asset('logo-tr.png')}}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary">
        <meta property="twitter:domain" content="https://www.grand-gite-broceliande.fr">
        <meta property="twitter:title" content="Rest'O'Paris - Top 3 des meilleurs restaurants de Paris">
        <meta property="twitter:image" content="{{asset('logo-tr.png')}}">

        <!-- Général -->
        <meta property="author" content="Sheila Khedoo">
        <meta name="copyright" content="Maringotte de Brocéliande" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% block body %}
        
        {% endblock %}
    </body>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

</html>
